@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url(assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Avenir";
  src: url(assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir";
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    padding-left: 2.25rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-bottom: 2rem;
    padding-right: 2.25rem;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header__nav-anchor {
  text-decoration: none;
  color: #E1E1E1;
}
.header__nav-list-item {
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__nav-list-item {
    padding-bottom: 2.25rem;
    padding-top: 2rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.header__nav-list-item:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  font-weight: 600;
}
.header__nav-list-item-active {
  border-bottom: 4px white solid;
  font-weight: 600;
}

.footer__container {
  background-color: #323232;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.footer__wordmark {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__wordmark {
    display: flex;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #FAFAFA;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-left: 1.25rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__title-section {
    display: flex;
  }
}
.footer__icons {
  padding-right: 2rem;
}
.footer__contact {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 2.25rem;
  }
}
.footer__logo {
  padding-top: 3.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo-text {
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #FAFAFA;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-text {
    font-size: 0.75rem;
    padding-left: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__section {
    padding-left: 2.25rem;
  }
}
.footer__contact-bold {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 1rem;
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .footer__contact-bold {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 2.25rem;
  }
}
.footer__socials {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1rem;
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    padding-left: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__contact-list {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__contact-list {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .footer__row {
    display: flex;
    justify-content: space-between;
    padding-right: 1.25rem;
  }
}

.hero__flower-image {
  width: 100vw;
  opacity: 0.5;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__heading {
  position: absolute;
  color: #FFFFFF;
  z-index: 100;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 2.25rem;
  }
}

.section__about-image {
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .section__about-image {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.125rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .section__about-image {
    padding-left: 15.625rem;
    padding-right: 15.625rem;
  }
}

.hero {
  position: relative;
  width: 100vw;
  height: 30%;
  display: flex;
  align-items: center;
  background: #323232;
}

.section__about-cite {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .section__about-cite {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .section__about-cite {
    padding-left: 15.625rem;
  }
}

.section__about-quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .section__about-quote {
    padding-left: 5rem;
    padding-right: 7rem;
    padding-top: 1.125rem;
    font-size: 1.375rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .section__about-quote {
    padding-left: 15.625rem;
    padding-right: 32.1875rem;
  }
}

.section {
  background-color: #FFFFFF;
}
.section__about {
  height: 70%;
}
.section__about-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .section__about-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 1.125rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .section__about-title {
    padding-left: 10rem;
    padding-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .container__photo-gallery {
    flex-wrap: wrap;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.125rem;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .container__photo-gallery {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.photo-gallery {
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery {
    width: 31vw;
    padding: 0.75rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .photo-gallery {
    width: 30vw;
  }
}

.container__article-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .container__article-text {
    padding-right: 2.25rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.container__article {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .container__article {
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .container__article {
    padding-left: 15.625rem;
    padding-right: 15.625rem;
  }
}

.container__article-title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .container__article-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .container__article-title {
    padding-left: 15.625rem;
  }
}

.section__photo-gallery {
  background-color: #FAFAFA;
}

.comment__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.comment__avatar {
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  left: 1rem;
}
.comment__subtitle {
  color: #AFAFAF;
  font-weight: 500;
}
.comment__section {
  display: flex;
}
.comment__form {
  width: 73%;
  display: flex;
  flex-direction: column;
}
.comment__button {
  background-color: #323232;
  color: #FFFFFF;
  height: 2.5rem;
  border-radius: 0.25rem;
}
.comment__image {
  width: 22%;
}

.avatar__container {
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  background-color: #E1E1E1;
}

.container__name-date {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}/*# sourceMappingURL=bio.css.map */