@use "./partials/global" as *;

.body {
    padding-left: 1rem;
    padding-right: 1rem;
}
// global?
.header {
    background-color: #323232;
    &__title{
        font-family: 'Avenir';
        font-size: 1.5rem;
        line-height: 2rem;
        color: #FAFAFA;
        text-align: center;
        font-weight: 400;
        padding-top: 1rem;
    }
}
a{
    text-decoration: none;
}
ul.header__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-family: 'Avenir';
    padding-bottom: 1rem;
}
.nav-list {
    text-decoration: none;
    color: white;
    border-bottom: 4px solid white;
}
.hero {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 30vh;
    &__text {
        display: flex;
        align-items: center;
        justify-content: start;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 5.625rem;
        padding-left: 1rem;
        line-height: 2rem;
    }
    &__image{
        width: 100vw;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    &__cite{
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color:#323232;
    }
    &__quote{
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-left: 1rem;
        text-align: left;
        color:#323232;
    }
}
.section {
    background-color: white;
    &__about-title{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        color:#323232;
    }
}
.photo-gallery{
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-bottom: 1rem;
}
.container__article{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #323232;
    }
.container__article-title {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 500;
        }

.section__photo-gallery{
    background-color: #FAFAFA;
    // display: flex;
}
.footer {
    &__container{
        background-color: #323232;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__title{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        color: #FAFAFA;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        &__contact-listgit{
            display: flex;
            padding-bottom: 1rem;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__socials{
        display: flex;
        justify-content:flex-start;
        padding-bottom: 1rem;
        color: #FAFAFA;
    }
    &__icons{
        padding-right: 2rem;
    }
    &__contact{
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        padding-bottom: 16px;
        color: #FAFAFA;
    }
    &__wordmark{
        padding-top: 56px;
        color: #FAFAFA;
        font-weight: 400;
    }
    &__wordmark-text{
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: #FAFAFA;
        padding-top: 16px;
        padding-bottom: 24px;
    }
}
.footer__contact--bold{
    font-weight: 500;
}