@use "../styles/partials/mixins" as *;
@use "./partials/global" as *;

.body {
    padding-left: 1rem;
    padding-right: 1rem;
}
.header {
    background-color: #323232;
    &__title{
        display: flex;
        justify-content: center;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
    &__nav {
        display: flex;
        text-align: center;
    }
    &__nav-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding-bottom: 1rem;
    }
}
.nav-item--active {
    text-decoration: none;
    color: white;
    border-bottom: 4px solid white;
    padding-bottom: 12px;
    width: 50%;
}
.nav-item {
    text-decoration: none;
    color: white;
    width: 50%;
}
.hero {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 30vh;
    @include tablet {
        height: 60vh;
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: start;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 5.625rem;
        padding-left: 1rem;
        line-height: 2rem;
        @include tablet{
            font-size: 3.75rem;
            line-height: 4.25rem;
            font-weight: 700;
        }
    }
    &__image{
        width: 100vw;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        @include tablet {
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 1.125rem;
        }
    }
    &__cite{
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color:#323232;
        @include tablet {
            padding-left: 5rem;
            padding-right: 5rem;
            font-size: 1.125rem;
            // not the same font-size on the study guide
            line-height: 2rem;
        }
    }
    &__quote{
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
        color:#323232;
        @include tablet {
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 1.125rem;
            font-size: 1.375rem;
            line-height: 2rem;
        }
    }
}
.section {
    background-color: white;
    &__about-title{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color:#323232;
        @include tablet{
            font-size: 36px;
            line-height: 32px;
            font-weight: 600;
            padding-top: 3rem;
            padding-bottom: 1.125rem;
            padding-left: 2.25rem;
            padding-right: 2.25rem;
        }
    }
}
.container__photo-gallery{
    @include tablet {
        flex-wrap: wrap;
        display: flex;
        padding-left: 24px;
        padding-bottom: 1.125rem;
    }
}
.photo-gallery{
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    padding-bottom: 1rem;
    @include tablet {
        width: 30vw;
        padding: 12px;
    
    }
}
.container__article{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #323232;
    @include tablet{
        padding-left: 5rem;
        padding-right: 5rem;
        display: flex;
        flex-direction: row;
        font-size: .875rem;
        line-height: 1.375rem;
        padding-bottom: 2.25rem;
        .container__article-text{
            padding-right: 2.25rem;
        }
        //for tablet^ fix format
    }
    }
.container__article-title {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 500;
        padding-left: 1rem;
        padding-right: 1rem;
        @include tablet{
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 3rem;
            padding-bottom: 2.25rem;
        }
    }
.section__photo-gallery{
    background-color: #FAFAFA;
}
.footer {
    &__container{
        background-color: #323232;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__title{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        color: #FAFAFA;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    &__contact-list{
        display: flex;
        padding-bottom: 1rem;
        flex-direction: column;
        justify-content: space-between;
    }
    &__socials{
        display: flex;
        justify-content:flex-start;
        padding-bottom: 1rem;
        color: #FAFAFA;
    }
    &__icons{
        padding-right: 2rem;
    }
    &__contact{
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
        color: #FAFAFA;
    }
    &__wordmark{
        padding-top: 3.5rem;
        color: #FAFAFA;
        font-weight: 400;
    }
    &__wordmark-text{
        font-size: .625rem;
        line-height: 1.125rem;
        font-weight: 400;
        color: #FAFAFA;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        @include tablet{
            font-size: .75rem;
        }
    }
}
.footer__contact--bold{
    font-weight: 500;
}}