@use "../styles/partials/mixins" as *;
@use "../styles/partials/global" as *;

.header {
    background-color: #323232;
    @include tablet{
        display: flex;
        padding-left: 2.25rem;
        padding-top: 1rem;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        display: flex;
        justify-content: center;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        @include tablet{
            padding-bottom: 2.25rem;
        }
    }
    &__nav {
        display: flex;
        text-align: center;
        @include tablet{
            display: flex;
            text-align: center;
            margin-right: 21.875rem;
        }
    }
    &__nav-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding-bottom: 1rem;
    }
}
.nav-item--active {
    text-decoration: none;
    color: white;
    border-bottom: 4px solid white;
    padding-bottom: .75rem;
    width: 50%;
    font-weight: 600;
    @include tablet{
        padding-top: 1.1875rem;
        padding-bottom: 1.9375rem;
    }
}
.nav-item {
    text-decoration: none;
    color: #FAFAFA;
    width: 50%;
    @include tablet{
        padding-left: 36px;
        padding-right: 36px;
        padding-top: 20px;
    }
}
.hero__flower-image{
    width: 100vw;
    opacity: 0.5;
    object-fit: cover;
}
.hero__heading{
    position: absolute;
    color: white;
    z-index: 100;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding-left: 1rem;
        @include tablet{
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
}
//change name
.hero__image{
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    @include tablet {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1.125rem;
        @include desktop{
            padding-left: 15.625rem;
            padding-right: 15.625rem;
        }
    }
}
.hero {
    position: relative;
    width: 100vw;
    height: 30%;
    display: flex;
    align-items: center;
    background: #323232;
    }
.hero__cite{
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color:#323232;
        @include tablet {
            padding-left: 5rem;
            padding-right: 5rem;
            font-size: 1.125rem;
            // not the same font-size on the study guide
            line-height: 2rem;
            @include desktop{
                padding-left: 15.625rem;
            }
        }
    }
    //change name
.hero__quote{
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
        color:#323232;
        @include tablet {
            padding-left: 5rem;
            padding-right: 7rem;
            padding-top: 1.125rem;
            font-size: 1.375rem;
            line-height: 2rem;
            @include desktop {
                padding-left: 15.625rem;
                padding-right: 32.1875rem;
            }
        }
    }
.section {
    background-color: white;
    &__about{
        height: 70%;
    }
    &__about-title{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color:#323232;
        @include tablet{
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-top: 3rem;
            padding-bottom: 1.125rem;
            padding-left: 2.25rem;
            padding-right: 2.25rem;
            font-weight: 700;
            @include desktop{
                padding-left: 5rem;
                padding-top: 3rem;
            }
        }
    }
}
.container__photo-gallery{
    @include tablet {
        flex-wrap: wrap;
        display: flex;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.125rem;
        justify-content: center;
        @include desktop{
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
}
.photo-gallery{
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    padding-bottom: 1rem;
    @include tablet {
        width: 31vw;
        padding: 12px;
        @include desktop{
            width: 30vw;
        }
    }
}
.container__article-text{
    font-size: .8125rem;
    line-height: 1.125rem;
    @include tablet{
    padding-right: 2.25rem;
    font-size: .875rem;
    line-height: 1.375rem;}
}
.container__article{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #323232;
    @include tablet{
        padding-left: 5rem;
        padding-right: 5rem;
        display: flex;
        flex-direction: row;
        padding-bottom: 2.25rem;
        @include desktop{
            padding-left: 15.625rem;
            padding-right: 15.625rem;
        }
    }
    }
.container__article-title {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 500;
        padding-left: 1rem;
        padding-right: 1rem;
        @include tablet{
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 3rem;
            padding-bottom: 2.25rem;
            @include desktop{
                padding-left: 15.625rem;
            }
        }
    }
.section__photo-gallery{
    background-color: #FAFAFA;
}
.footer {
    &__container{
        background-color: #323232;
        padding-left: 1rem;
        padding-right: 1rem;
        @include desktop{
            padding-left: 3.75rem;
            padding-right: 3.75rem;
        }
    }
    &__wordmark{
        display: none;
        @include tablet{
            display: flex;}
    }
    &__title{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        color: #FAFAFA;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        @include tablet{
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 700;
            padding-top: 3rem;
            padding-left: 1.25rem;
            padding-bottom: 2.25rem;}
    }
    &__title-section{
        @include tablet{
            display: flex;
        }
    }
    &__icons{
        padding-right: 2rem;
    }
    &__contact{
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
        color: #FAFAFA;
        @include tablet {
            font-size: .875rem;
            line-height: 1.25rem;
            padding-bottom: 2.25rem;
        }
    }
    &__logo{
        padding-top: 3.5rem;
        @include tablet{
            display: none;
        }
    }
    &__logo-text{
        font-size: .625rem;
        line-height: 1.125rem;
        font-weight: 400;
        color: #FAFAFA;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        @include tablet{
            font-size: .75rem;
            padding-left: 1.25rem;
        }
    }
    &__section{
        @include tablet{
            padding-left: 2.25rem;
        }
    }
    &__contact-bold{
        font-weight: 600;
        font-size: .8125rem;
        line-height: 1.125rem;
        padding-bottom: 1rem;
        color: #FAFAFA;
        @include tablet{
            font-size: .875rem;
            line-height: 1.25rem;
            padding-bottom: 2.25rem;
        }
    }
    &__socials{
        display: flex;
        justify-content:flex-start;
        padding-bottom: 1rem;
        color: #FAFAFA;
        @include tablet{
            padding-left: 2.25rem;
            padding-top: 3rem;
            padding-bottom: 1.5rem;
            justify-content: center;
            align-items: center;
        }
    }
    &__section{
        @include tablet{
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
    }
    &__contact-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet{
            flex-direction: row;
            @include desktop{
                justify-content: flex-start;
            }
        }
    }
    &__row{
        @include tablet{
            display: flex;
            justify-content: space-between;
            padding-right: 1.25rem;
        }
    }
    }