@use "../styles/partials/mixins" as *;
@use "../styles/partials/global" as *;
@use "../styles/partials/variables" as *;

.hero{
    &__image{
        width: 100vw;
        opacity: 0.5;
        object-fit: cover;
    }
    &__shows{
    position: relative;
    width: 100vw;
    height: 30%;
    background: $BandSite-Black;
    }
    &__text{
        position: absolute;
        color: #FFFFFF;
        z-index: 100;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding-left: 1rem;
        top: 0rem;
        padding-top: 1.5rem;
    }
    &__title{
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 400;
        padding-bottom: 1.5rem;
        @include tablet{
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            padding-left: 2.25rem;
            padding-top: 2.25rem;
        }
    }
    &__heading{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding-right: 3.375rem;
        padding-bottom: 1.5rem;
        @include tablet{
            font-size: 3.75rem;
            line-height: 4.25rem;
            font-weight: 700;
            padding-bottom: 2.25rem;
            padding-left: 2.25rem;
            padding-right: 6.25rem;
        }
    }
    &__section{
        display: flex;
        flex-direction: column;
    }
    &__song{
        padding-right: 1rem;
        height: 5.9375rem;
        padding-right: 1rem;
        width: 100%;
        @include tablet{
            width: 65%;
            padding-left: 2.25rem;
        }
    }
}
.divider{
    border-bottom: $Mercury solid .0625rem;
    @include tablet{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
.shows{
    &__title{
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    @include tablet{
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
        padding-left: 3.25rem;
        padding-bottom: 2.25rem;
        padding-top: 4rem;
    }
    }
    &__date-title {
        color: $Mercury;
        font-size: .875rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-top: 1rem;
        @include tablet{
            display: none;
        }
    }
    &__venue-title{
        color: $Mercury;
        font-size: .875rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-top: 1rem;
        @include tablet{
            display: none;
        }
    }
    &__location-title{
        color: $Mercury;
        font-size: .875rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-top: 1rem;
        @include tablet{
            display: none;
        }
    }
    &__dates{
        font-weight: 600;
        color: $BandSite-Black;
    }
    &__venue-content{
        color: $BandSite-Black;
    }
    &__location-content{
        padding-bottom: 1rem;
    }
    &__button{
        background-color: $BandSite-Black;
        color: $White;
        width: 90vw;
        height: 2.5rem;
        line-height: 1.25rem;
        font-weight: 700;
        border-radius: .25rem;
        font-size: .875rem;
        @include tablet{
            width: 9.375rem;
        }
    }
    &__section{
        display: flex;
        flex-direction: column;
    }
}
.container__dates{
    display: flex;
    flex-direction: column;
    @include tablet{
        width: 25%;
    }
}
.container__venue{
    display: flex;
    flex-direction: column;
    @include tablet{
        width: 25%;
    }
}
.container__location{
    display: flex;
    flex-direction: column;
    @include tablet{
        width: 25%;
    }
}
.shows__section{
    @include tablet{
        display: flex;
        flex-direction: column;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        padding-bottom: 2.25rem;
    }
}
.container{
    border-bottom: $Mercury solid .0625rem;
    padding: 1rem;
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}
.container:hover{
    background-color: $Alabaster;
}

.shows__subtitles{
    display: none;
    @include tablet{
    display: flex;
    list-style-type: none;
    padding-left: 3.25rem;
    color: $Mercury;
    font-size: .875rem;
    font-weight: 600;
    @include desktop{
        padding-top: 5rem;
    }
    }
}
.shows__subtitle{
    width: 24%;
}

.section__shows{
    @include desktop{
        display: flex;
        justify-content: space-around;
    }
}
.container__list{
    @include desktop{
        width: 70%;
    }
}
.selected{
    background-color: $Mercury;
}
